<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="weixinToken" value="bd5b73973c5d"/>
    <add key="mp3Token" value="64ce044b-ea9e-44ce-aa48-50b1812c64b3"/>
    <!--mp3文件url参数键名-->
    <add key="mp3ParamKey" value="xcode"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            通过 <authentication> 节，可配置 
      ASP.NET 用于识别进入用户的 
      安全身份验证模式。
    -->
    <authentication mode="Windows"/>
    <!--
            通过 <customErrors> 节，可以配置
       在执行请求的过程中出现未处理的错误时要执行 
       的操作。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!--<httpModules>
      <add name="MyModule" type="weixin.HttpModule.MyModule,weixin"/>
    </httpModules>-->
  </system.web>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX 
        所必需的。对于早期版本的 IIS，不必保留此节。
  -->
  <system.webServer>
    <modules>
      <add name="AuthorityModule" type="weixin.HttpModule.AuthorityModule,weixin"/>
    </modules>
    <handlers>
      <add name="MP3Handler" verb="*" path="/Audio/*.mp3" type="weixin.HttpHandler.MP3Handler,weixin"/>
    </handlers>
  </system.webServer>
  
</configuration>